INFOSYS722_BDAS_ASSIGNMENT_LORRAINE ZHOU

In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('INFOSYS722').getOrCreate()
import pandas as pd
sc = spark.sparkContext

In [2]:
df = spark.read.csv('BostonCrime2.0.csv',header=True,inferSchema=True)

# Data Exploration

In [3]:
df.show()

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- INCIDENT_NUMBER: integer (nullable = true)
 |-- OFFENSE_CODE: integer (nullable = true)
 |-- OFFENSE_CODE_GROUP: string (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- REPORTING_AREA: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- HOUR: integer (nullable = true)
 |-- UCR_PART: string (nullable = true)
 |-- STREET: string (nullable = true)
 |-- SHOOTING: string (nullable = true)

In [5]:
print(df.head(1))

[Row(INCIDENT_NUMBER=1, OFFENSE_CODE=1102, OFFENSE_CODE_GROUP='Fraud', DISTRICT='D4', REPORTING_AREA='619', YEAR=2015, MONTH=12, DAY_OF_WEEK='Sunday', HOUR=14, UCR_PART='Part Two', STREET='WESTLAND AVE', SHOOTING='N')]

In [6]:
df.describe().show()

+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+
|summary|   INCIDENT_NUMBER|      OFFENSE_CODE|OFFENSE_CODE_GROUP|DISTRICT|   REPORTING_AREA|              YEAR|            MONTH|DAY_OF_WEEK|             HOUR|UCR_PART|   STREET|SHOOTING|
+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+
|  count|               800|               800|               800|     772|              800|               800|              800|        800|              800|     800|      783|     800|
|   mean|             400.5|        1949.24875|              null|    null| 404.742782152231|        2016.50375|           8.2025|       null|            15.49|    null|     null|    null|
| stddev|231.08440016582685|1095.3304308812276|              null|    null|253.4539993960598|1.1209623692572204|2.677770867909777|       null|6.011661591762074|    null|     null|    null|
|    min|                 1|               301|Aggravated Assault|      A1|                 |              2015|                1|     Friday|                1|   Other| ADAMS ST|       N|
|    max|               800|              3831|   Warrant Arrests|      E5|               97|              2018|               12|  Wednesday|               24|Part Two|ZAMORA ST|       Y|
+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+

In [7]:
df.select('YEAR','MONTH','HOUR').describe().show()

+-------+------------------+-----------------+-----------------+
|summary|              YEAR|            MONTH|             HOUR|
+-------+------------------+-----------------+-----------------+
|  count|               800|              800|              800|
|   mean|        2016.50375|           8.2025|            15.49|
| stddev|1.1209623692572204|2.677770867909777|6.011661591762074|
|    min|              2015|                1|                1|
|    max|              2018|               12|               24|
+-------+------------------+-----------------+-----------------+

In [8]:
df.select('INCIDENT_NUMBER','OFFENSE_CODE','OFFENSE_CODE_GROUP','DISTRICT','REPORTING_AREA','YEAR','MONTH','DAY_OF_WEEK','HOUR','UCR_PART','STREET','SHOOTING').describe().show()

+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+
|summary|   INCIDENT_NUMBER|      OFFENSE_CODE|OFFENSE_CODE_GROUP|DISTRICT|   REPORTING_AREA|              YEAR|            MONTH|DAY_OF_WEEK|             HOUR|UCR_PART|   STREET|SHOOTING|
+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+
|  count|               800|               800|               800|     772|              800|               800|              800|        800|              800|     800|      783|     800|
|   mean|             400.5|        1949.24875|              null|    null| 404.742782152231|        2016.50375|           8.2025|       null|            15.49|    null|     null|    null|
| stddev|231.08440016582685|1095.3304308812276|              null|    null|253.4539993960598|1.1209623692572204|2.677770867909777|       null|6.011661591762074|    null|     null|    null|
|    min|                 1|               301|Aggravated Assault|      A1|                 |              2015|                1|     Friday|                1|   Other| ADAMS ST|       N|
|    max|               800|              3831|   Warrant Arrests|      E5|               97|              2018|               12|  Wednesday|               24|Part Two|ZAMORA ST|       Y|
+-------+------------------+------------------+------------------+--------+-----------------+------------------+-----------------+-----------+-----------------+--------+---------+--------+

In [9]:
df.select('DISTRICT','STREET').describe().show()

+-------+--------+---------+
|summary|DISTRICT|   STREET|
+-------+--------+---------+
|  count|     772|      783|
|   mean|    null|     null|
| stddev|    null|     null|
|    min|      A1| ADAMS ST|
|    max|      E5|ZAMORA ST|
+-------+--------+---------+

# Data Manipulation

Select

In [10]:
mon_col = df.select('month')
mon_col.show()

+-----+
|month|
+-----+
|   12|
|   12|
|    7|
|   11|
|   10|
|    9|
|    8|
|   10|
|    8|
|    8|
|    7|
|   11|
|   12|
|    7|
|    9|
|    9|
|   10|
|    7|
|    8|
|   10|
+-----+
only showing top 20 rows

filter

In [11]:
df.filter("MONTH > 6").show()
df.filter("MONTH > 6").select('YEAR','MONTH').show()

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

+----+-----+
|YEAR|MONTH|
+----+-----+
|2015|   12|
|2015|   12|
|2015|    7|
|2015|   11|
|2015|   10|
|2015|    9|
|2015|    8|
|2015|   10|
|2015|    8|
|2015|    8|
|2015|    7|
|2015|   11|
|2015|   12|
|2015|    7|
|2015|    9|
|2015|    9|
|2015|   10|
|2015|    7|
|2015|    8|
|2015|   10|
+----+-----+
only showing top 20 rows

In [12]:
df.filter(df.MONTH == '6').show()

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|              STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
|             38|        2629|          Harassment|     C11|           397|2015|    6|     Monday|  24|  Part Two|        MELBOURNE ST|       N|
|             93|        3018|  Medical Assistance|      C6|           177|2015|    6|     Sunday|  12|Part Three|      NEW SUDBURY ST|       N|
|             97|        1102|               Fraud|      D4|           618|2015|    6|     Friday|  17|  Part Two|            OPERA PL|       N|
|            123|        3501|Missing Person Re...|      B3|           457|2015|    6|   Saturday|  16|Part Three|         DRUMMOND ST|       N|
|            124|        3502|Missing Person Lo...|      B3|           457|2015|    6|   Saturday|  16|Part Three|         DRUMMOND ST|       N|
|            132|        1102|               Fraud|      D4|           159|2015|    6|     Monday|   9|  Part Two|        DARTMOUTH ST|       N|
|            140|        3115|  Investigate Person|     D14|           751|2015|    6|    Tuesday|  16|Part Three|       LAKE SHORE RD|       N|
|            141|        3201|       Property Lost|      B3|           448|2015|    6|    Tuesday|  24|Part Three|          SPENCER ST|       N|
|            142|        2629|          Harassment|      D4|           905|2015|    6|     Monday|  12|  Part Two|   HARRISON ARCHWAYS|       N|
|            205|        1102|               Fraud|     C11|           817|2016|    6|   Thursday|  24|  Part Two|          ARGYLE TER|       N|
|            214|        2629|          Harassment|      D4|           165|2016|    6|  Wednesday|  11|  Part Two|        HARRISON AVE|       N|
|            218|        2629|          Harassment|     A15|            47|2016|    6|    Tuesday|   8|  Part Two|           N MEAD ST|       N|
|            228|        3201|       Property Lost|     D14|           797|2016|    6|  Wednesday|  12|Part Three|            BUICK ST|       N|
|            230|        2647|               Other|     E18|           923|2016|    6|  Wednesday|   8|  Part Two|           PIERCE ST|       N|
|            241|        1102|               Fraud|     C11|           341|2016|    6|  Wednesday|   9|  Part Two|        SPEEDWELL ST|       N|
|            245|        1102|               Fraud|      A1|           124|2016|    6|     Monday|   9|  Part Two|           HUDSON ST|       N|
|            259|        1102|               Fraud|      B3|           943|2016|    6|   Thursday|   9|  Part Two|        WOODRUFF WAY|       N|
|            272|        3115|  Investigate Person|     C11|           396|2016|    6|  Wednesday|   8|Part Three|          SANTUIT ST|       N|
|            301|         616|             Larceny|      D4|           168|2016|    6|  Wednesday|  12|  Part One|FATHER FRANCIS J ...|       N|
|            311|        1102|               Fraud|      B2|           182|2016|    6|   Saturday|  24|  Part Two|          BURRELL ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
only showing top 20 rows

In [13]:
df.filter("HOUR='12'").show()

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|              STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|         OAKCREST RD|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two|       WASHINGTON ST|       N|
|             23|        3110|Police Service In...|      E5|           552|2015|    9|    Tuesday|  12|Part Three|          DENTON TER|       N|
|             32|        1102|               Fraud|      A1|            92|2015|   10|    Tuesday|  12|  Part Two|            COURT ST|       N|
|             33|        1109|               Fraud|      B2|           311|2015|   11|   Thursday|  12|  Part Two|       BLUE HILL AVE|       N|
|             40|        1102|               Fraud|      B3|           433|2015|    9|     Monday|  12|  Part Two|            EVANS ST|       N|
|             42|        1107|               Fraud|      B2|           292|2015|    8|   Saturday|  12|  Part Two|       JOHN ELIOT SQ|       N|
|             44|        3201|       Property Lost|     D14|           795|2015|    9|     Friday|  12|Part Three|    COMMONWEALTH AVE|       N|
|             54|        2647|               Other|      B2|           301|2015|   12|    Tuesday|  12|  Part Two|         HIGHLAND ST|       N|
|             56|        3201|       Property Lost|      C6|           177|2015|    8|   Saturday|  12|Part Three|      NEW SUDBURY ST|       N|
|             65|        1107|               Fraud|      D4|           169|2015|   12|    Tuesday|  12|  Part Two|         E NEWTON ST|       N|
|             72|        1102|               Fraud|      C6|           914|2015|   10|   Thursday|  12|  Part Two|GENERAL LAWRENCE ...|       N|
|             80|        1107|               Fraud|      D4|           903|2015|   11|   Saturday|  12|  Part Two|        LATTIMORE CT|       N|
|             83|        1102|               Fraud|      C6|           219|2015|   11|     Friday|  12|  Part Two|         COLUMBIA RD|       N|
|             84|         614|Larceny From Moto...|      B2|           327|2015|   11|    Tuesday|  12|  Part One|           QUINCY ST|       N|
|             88|        1106|    Confidence Games|      D4|           625|2015|   10|     Monday|  12|  Part Two|     PETERBOROUGH ST|       N|
|             90|        1107|               Fraud|      D4|           171|2015|   11|     Monday|  12|  Part Two|           ALBANY ST|       N|
|             92|        2629|          Harassment|      B2|           180|2015|   10|  Wednesday|  12|  Part Two|          DUNMORE ST|       N|
|             93|        3018|  Medical Assistance|      C6|           177|2015|    6|     Sunday|  12|Part Three|      NEW SUDBURY ST|       N|
|             94|        1102|               Fraud|      E5|           550|2015|   10|   Saturday|  12|  Part Two|             JUNE ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------------+--------+
only showing top 20 rows

In [14]:
df.filter("MONTH > 6 AND HOUR < 12").select('INCIDENT_NUMBER','MONTH','HOUR').show()

+---------------+-----+----+
|INCIDENT_NUMBER|MONTH|HOUR|
+---------------+-----+----+
|              4|   11|   8|
|              6|    9|  11|
|              7|    8|   8|
|              9|    8|   6|
|             12|   11|  11|
|             13|   12|   4|
|             14|    7|   8|
|             16|    9|   9|
|             17|   10|   8|
|             19|    8|   9|
|             21|   12|   9|
|             25|    9|   9|
|             26|   10|   9|
|             27|    8|   9|
|             28|    7|   2|
|             29|   10|   9|
|             31|   11|   9|
|             43|    9|   7|
|             45|    8|   9|
|             55|    8|   9|
+---------------+-----+----+
only showing top 20 rows

Mutate, or creating new columns (only boolean type, string is not applicable, so the result comes null)

In [15]:
df.withColumn('STREETDISTRICT', df.STREET*df.DISTRICT).show()

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+--------------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|STREETDISTRICT|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+--------------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|          null|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|          null|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|          null|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|          null|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|          null|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|          null|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|          null|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|          null|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|          null|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|          null|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|          null|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|          null|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|          null|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|          null|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|          null|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|          null|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|          null|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|          null|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|          null|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|          null|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+--------------+
only showing top 20 rows

# Data Aggregation

Summarize and group by

In [16]:
df.groupBy('MONTH').mean().show()

+-----+--------------------+------------------+------------------+----------+------------------+
|MONTH|avg(INCIDENT_NUMBER)| avg(OFFENSE_CODE)|         avg(YEAR)|avg(MONTH)|         avg(HOUR)|
+-----+--------------------+------------------+------------------+----------+------------------+
|   12|   298.0091743119266| 1735.697247706422|2015.9816513761468|      12.0|15.458715596330276|
|    1|  339.05882352941177|1959.2941176470588|2016.4117647058824|       1.0|17.529411764705884|
|    6|  387.76785714285717| 2149.214285714286|            2016.5|       6.0|              14.5|
|    3|               403.6|           1981.25|            2016.5|       3.0|             15.35|
|    5|   404.9130434782609|2087.1739130434785|2016.5652173913043|       5.0|13.695652173913043|
|    9|             275.175|         1879.8125|         2015.8375|       9.0|             16.45|
|    4|   361.1764705882353|1483.6470588235295|2016.3529411764705|       4.0|15.647058823529411|
|    8|  267.67857142857144| 2092.214285714286| 2015.892857142857|       8.0|15.964285714285714|
|    7|   616.5818965517242| 2165.668103448276|2017.5905172413793|       7.0|15.387931034482758|
|   10|   307.7752808988764|1578.9550561797753|2016.0224719101125|      10.0|14.561797752808989|
|   11|  280.06976744186045|1918.2790697674418|2015.8255813953488|      11.0| 16.63953488372093|
|    2|  358.93333333333334|            1880.6|2016.2666666666667|       2.0|13.466666666666667|
+-----+--------------------+------------------+------------------+----------+------------------+

In [17]:
df.groupBy('DISTRICT').mean().show()

+--------+--------------------+------------------+------------------+-----------------+------------------+
|DISTRICT|avg(INCIDENT_NUMBER)| avg(OFFENSE_CODE)|         avg(YEAR)|       avg(MONTH)|         avg(HOUR)|
+--------+--------------------+------------------+------------------+-----------------+------------------+
|      C6|  454.06060606060606|1832.7272727272727|2016.7272727272727|8.742424242424242|14.984848484848484|
|    null|               586.0|2155.8571428571427|2017.5357142857142|6.642857142857143|15.821428571428571|
|      B2|   412.8411214953271|  1844.96261682243|2016.5140186915887|8.327102803738319| 15.14018691588785|
|     C11|  349.24074074074076|1947.4722222222222|2016.3333333333333| 8.50925925925926|15.814814814814815|
|     E13|  488.88235294117646|2167.3529411764707|2016.9117647058824|7.764705882352941|14.941176470588236|
|      B3|  365.25396825396825|2144.2698412698414|2016.3174603174602|7.761904761904762|15.031746031746032|
|      E5|  360.94545454545454|1907.3090909090909|2016.3272727272727|9.145454545454545|17.927272727272726|
|     A15|  403.42857142857144|1898.2857142857142|2016.4285714285713|6.571428571428571|15.428571428571429|
|      A7|   365.4166666666667|1835.0833333333333|2016.2916666666667|8.041666666666666|             12.75|
|     D14|   393.6842105263158|2020.3333333333333|2016.3508771929824|8.614035087719298| 16.56140350877193|
|      D4|   395.7155963302752|1866.3853211009175|2016.5045871559632|8.247706422018348|15.889908256880734|
|     E18|   363.4727272727273|2017.1454545454546|2016.3454545454545|8.381818181818181|13.581818181818182|
|      A1|            408.3125|           1956.25|         2016.5625|           7.4625|            15.575|
+--------+--------------------+------------------+------------------+-----------------+------------------+

In [18]:
group_month_df = df.groupBy('MONTH').mean()
print("Sorted by HOUR")
group_month_df.orderBy('avg(HOUR)').show()
print("Sorted by YEAR")
df.groupBy('MONTH').mean().orderBy('avg(YEAR)').show()

Sorted by HOUR
+-----+--------------------+------------------+------------------+----------+------------------+
|MONTH|avg(INCIDENT_NUMBER)| avg(OFFENSE_CODE)|         avg(YEAR)|avg(MONTH)|         avg(HOUR)|
+-----+--------------------+------------------+------------------+----------+------------------+
|    2|  358.93333333333334|            1880.6|2016.2666666666667|       2.0|13.466666666666667|
|    5|   404.9130434782609|2087.1739130434785|2016.5652173913043|       5.0|13.695652173913043|
|    6|  387.76785714285717| 2149.214285714286|            2016.5|       6.0|              14.5|
|   10|   307.7752808988764|1578.9550561797753|2016.0224719101125|      10.0|14.561797752808989|
|    3|               403.6|           1981.25|            2016.5|       3.0|             15.35|
|    7|   616.5818965517242| 2165.668103448276|2017.5905172413793|       7.0|15.387931034482758|
|   12|   298.0091743119266| 1735.697247706422|2015.9816513761468|      12.0|15.458715596330276|
|    4|   361.1764705882353|1483.6470588235295|2016.3529411764705|       4.0|15.647058823529411|
|    8|  267.67857142857144| 2092.214285714286| 2015.892857142857|       8.0|15.964285714285714|
|    9|             275.175|         1879.8125|         2015.8375|       9.0|             16.45|
|   11|  280.06976744186045|1918.2790697674418|2015.8255813953488|      11.0| 16.63953488372093|
|    1|  339.05882352941177|1959.2941176470588|2016.4117647058824|       1.0|17.529411764705884|
+-----+--------------------+------------------+------------------+----------+------------------+

Sorted by YEAR
+-----+--------------------+------------------+------------------+----------+------------------+
|MONTH|avg(INCIDENT_NUMBER)| avg(OFFENSE_CODE)|         avg(YEAR)|avg(MONTH)|         avg(HOUR)|
+-----+--------------------+------------------+------------------+----------+------------------+
|   11|  280.06976744186045|1918.2790697674418|2015.8255813953488|      11.0| 16.63953488372093|
|    9|             275.175|         1879.8125|         2015.8375|       9.0|             16.45|
|    8|  267.67857142857144| 2092.214285714286| 2015.892857142857|       8.0|15.964285714285714|
|   12|   298.0091743119266| 1735.697247706422|2015.9816513761468|      12.0|15.458715596330276|
|   10|   307.7752808988764|1578.9550561797753|2016.0224719101125|      10.0|14.561797752808989|
|    2|  358.93333333333334|            1880.6|2016.2666666666667|       2.0|13.466666666666667|
|    4|   361.1764705882353|1483.6470588235295|2016.3529411764705|       4.0|15.647058823529411|
|    1|  339.05882352941177|1959.2941176470588|2016.4117647058824|       1.0|17.529411764705884|
|    6|  387.76785714285717| 2149.214285714286|            2016.5|       6.0|              14.5|
|    3|               403.6|           1981.25|            2016.5|       3.0|             15.35|
|    5|   404.9130434782609|2087.1739130434785|2016.5652173913043|       5.0|13.695652173913043|
|    7|   616.5818965517242| 2165.668103448276|2017.5905172413793|       7.0|15.387931034482758|
+-----+--------------------+------------------+------------------+----------+------------------+

# Cleaning Up

In [19]:
from pyspark.sql.functions import format_number, col

In [20]:
group_month_df = df.groupBy('MONTH').mean()
group_month_df.show()
group_month_df = group_month_df.select('MONTH',
                                   format_number('avg(HOUR)',2),
                                   format_number('avg(YEAR)',2))
group_month_df.show()

group_month_df = group_month_df.select(col('MONTH').alias('INCIDENT_NUMBER'),
                                   col('format_number(avg(HOUR), 2)').alias('Average HOUR'),
                                   col('format_number(avg(YEAR), 2)').alias('Average YEAR'))
group_month_df.show()
                            
group_month_df = group_month_df.orderBy('Average HOUR')
                                       
print('Average HOUR and YEAR by INCIDENT_NUMBER')
group_month_df.show()

+-----+--------------------+------------------+------------------+----------+------------------+
|MONTH|avg(INCIDENT_NUMBER)| avg(OFFENSE_CODE)|         avg(YEAR)|avg(MONTH)|         avg(HOUR)|
+-----+--------------------+------------------+------------------+----------+------------------+
|   12|   298.0091743119266| 1735.697247706422|2015.9816513761468|      12.0|15.458715596330276|
|    1|  339.05882352941177|1959.2941176470588|2016.4117647058824|       1.0|17.529411764705884|
|    6|  387.76785714285717| 2149.214285714286|            2016.5|       6.0|              14.5|
|    3|               403.6|           1981.25|            2016.5|       3.0|             15.35|
|    5|   404.9130434782609|2087.1739130434785|2016.5652173913043|       5.0|13.695652173913043|
|    9|             275.175|         1879.8125|         2015.8375|       9.0|             16.45|
|    4|   361.1764705882353|1483.6470588235295|2016.3529411764705|       4.0|15.647058823529411|
|    8|  267.67857142857144| 2092.214285714286| 2015.892857142857|       8.0|15.964285714285714|
|    7|   616.5818965517242| 2165.668103448276|2017.5905172413793|       7.0|15.387931034482758|
|   10|   307.7752808988764|1578.9550561797753|2016.0224719101125|      10.0|14.561797752808989|
|   11|  280.06976744186045|1918.2790697674418|2015.8255813953488|      11.0| 16.63953488372093|
|    2|  358.93333333333334|            1880.6|2016.2666666666667|       2.0|13.466666666666667|
+-----+--------------------+------------------+------------------+----------+------------------+

+-----+---------------------------+---------------------------+
|MONTH|format_number(avg(HOUR), 2)|format_number(avg(YEAR), 2)|
+-----+---------------------------+---------------------------+
|   12|                      15.46|                   2,015.98|
|    1|                      17.53|                   2,016.41|
|    6|                      14.50|                   2,016.50|
|    3|                      15.35|                   2,016.50|
|    5|                      13.70|                   2,016.57|
|    9|                      16.45|                   2,015.84|
|    4|                      15.65|                   2,016.35|
|    8|                      15.96|                   2,015.89|
|    7|                      15.39|                   2,017.59|
|   10|                      14.56|                   2,016.02|
|   11|                      16.64|                   2,015.83|
|    2|                      13.47|                   2,016.27|
+-----+---------------------------+---------------------------+

+---------------+------------+------------+
|INCIDENT_NUMBER|Average HOUR|Average YEAR|
+---------------+------------+------------+
|             12|       15.46|    2,015.98|
|              1|       17.53|    2,016.41|
|              6|       14.50|    2,016.50|
|              3|       15.35|    2,016.50|
|              5|       13.70|    2,016.57|
|              9|       16.45|    2,015.84|
|              4|       15.65|    2,016.35|
|              8|       15.96|    2,015.89|
|              7|       15.39|    2,017.59|
|             10|       14.56|    2,016.02|
|             11|       16.64|    2,015.83|
|              2|       13.47|    2,016.27|
+---------------+------------+------------+

Average HOUR and YEAR by INCIDENT_NUMBER
+---------------+------------+------------+
|INCIDENT_NUMBER|Average HOUR|Average YEAR|
+---------------+------------+------------+
|              2|       13.47|    2,016.27|
|              5|       13.70|    2,016.57|
|              6|       14.50|    2,016.50|
|             10|       14.56|    2,016.02|
|              3|       15.35|    2,016.50|
|              7|       15.39|    2,017.59|
|             12|       15.46|    2,015.98|
|              4|       15.65|    2,016.35|
|              8|       15.96|    2,015.89|
|              9|       16.45|    2,015.84|
|             11|       16.64|    2,015.83|
|              1|       17.53|    2,016.41|
+---------------+------------+------------+

# Data Cleaning

In [21]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [22]:
df = spark.read.csv('BostonCrime2.0.csv', header=True, inferSchema=True)
df.show()
print("Total data points:", df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 800

Dropping Rows - Missing Data Point

In [23]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [24]:
df.na.drop().show()
print("Total data points:", df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
|             21|        1102|               Fraud|     C11|           346|2015|   12|    Tuesday|   9|  Part Two|   JULIETTE ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 800

In [25]:
dropped_df = df.na.drop()
dropped_df.show()
print("Total data points:", dropped_df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
|             21|        1102|               Fraud|     C11|           346|2015|   12|    Tuesday|   9|  Part Two|   JULIETTE ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 769

Dropping Rows - Missing Field

In [26]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [27]:
missing_field_df = df.na.drop(subset="STREET")
missing_field_df.show()
print("Total data points:", missing_field_df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 783

In [28]:
missing_field_df = df.na.drop(subset="DISTRICT")
missing_field_df.show()
print("Total data points:", missing_field_df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
|             21|        1102|               Fraud|     C11|           346|2015|   12|    Tuesday|   9|  Part Two|   JULIETTE ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 772

Filling Null Values

In [29]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [30]:
filled_df = df.na.fill('UNDISCLOSED', subset=['STREET'])
filled_df.show()
print("Total data points:", filled_df.count())

+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|      D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|      D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|     E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|      C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|      D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|     D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|     C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|     C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|     C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|      A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|    null|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|     C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|     C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|      A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|     C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|     C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|     C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|     D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|      A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|      D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+--------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 800

In [31]:
filled_df = df.na.fill('UNDISCLOSED', subset=['DISTRICT'])
filled_df.show()
print("Total data points:", filled_df.count())

+---------------+------------+--------------------+-----------+--------------+----+-----+-----------+----+----------+--------------+--------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP|   DISTRICT|REPORTING_AREA|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|        STREET|SHOOTING|
+---------------+------------+--------------------+-----------+--------------+----+-----+-----------+----+----------+--------------+--------+
|              1|        1102|               Fraud|         D4|           619|2015|   12|     Sunday|  14|  Part Two|  WESTLAND AVE|       N|
|              2|         619|             Larceny|         D4|           619|2015|   12|     Sunday|  14|  Part One|  WESTLAND AVE|       N|
|              3|        1107|               Fraud|        E18|           486|2015|    7|  Wednesday|  12|  Part Two|   OAKCREST RD|       N|
|              4|        1107|               Fraud|         C6|           226|2015|   11|   Thursday|   8|  Part Two|   E FOURTH ST|       N|
|              5|        2647|               Other|         D4|           129|2015|   10|   Saturday|  13|  Part Two|   BERKELEY ST|       N|
|              6|        1102|               Fraud|        D14|           791|2015|    9|    Tuesday|  11|  Part Two|    ALLSTON ST|       N|
|              7|        3201|       Property Lost|        C11|           366|2015|    8|   Thursday|   8|Part Three|      EDWIN ST|       N|
|              8|        1102|               Fraud|        C11|           450|2015|   10|  Wednesday|  12|  Part Two| WASHINGTON ST|       N|
|              9|        1102|               Fraud|        C11|           352|2015|    8|   Saturday|   6|  Part Two|     DITSON ST|       N|
|             10|        1107|               Fraud|         A1|           122|2015|    8|   Saturday|  15|  Part Two| WASHINGTON ST|       N|
|             11|        1107|               Fraud|UNDISCLOSED|              |2015|    7|  Wednesday|  24|  Part Two|        COBDEN|       N|
|             12|         735| Auto Theft Recovery|        C11|           385|2015|   11|     Sunday|  11|     Other|     HALLET ST|       N|
|             13|        1102|               Fraud|        C11|           345|2015|   12|     Monday|   4|  Part Two|     DRAPER ST|       N|
|             14|        1107|               Fraud|         A7|            20|2015|    7|  Wednesday|   8|  Part Two|      PARIS ST|       N|
|             15|        1102|               Fraud|        C11|           342|2015|    9|    Tuesday|  24|  Part Two|    TOPLIFF ST|       N|
|             16|        1102|               Fraud|        C11|           365|2015|    9|   Thursday|   9|  Part Two|     SEMONT RD|       N|
|             17|         615|Larceny From Moto...|        C11|           366|2015|   10|   Thursday|   8|  Part One|      EDWIN ST|       N|
|             18|        3115|  Investigate Person|        D14|           775|2015|    7|  Wednesday|  24|Part Three|WALLINGFORD RD|       N|
|             19|        1102|               Fraud|         A1|           101|2015|    8|     Friday|   9|  Part Two|      BROAD ST|       N|
|             20|        1102|               Fraud|         D4|           165|2015|   10|   Thursday|  24|  Part Two|     ALBANY ST|       N|
+---------------+------------+--------------------+-----------+--------------+----+-----+-----------+----+----------+--------------+--------+
only showing top 20 rows

Total data points: 800

# Logistic Regression

In [32]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('logistic_regression_docs').getOrCreate()

from pyspark.ml.classification import LogisticRegression

In [33]:
# Load training data. Libsvm is used throughout the Spark documentation, but it's probably not relevant to your dataset. 
training = spark.read.format("libsvm").load("Datasets/sample_libsvm_data.txt")

# Print schema to get a high level view of the schema. Simply label and features. 
training.printSchema()

# Create an instance of the logistic regression model. This is where you specify features/label/prediction columns.
# The documentation example includes three parameters. We'll leave those out for now, but they're important to specify in your assignment.
lr = LogisticRegression()

# Fit the model. Note that the documentation example doesn't split the data into training/testing/validation sets.
lrModel = lr.fit(training)

# Instead of printing the coefficients/intercept, let's try to get a high level view of the model output. 
trainingSummary = lrModel.summary

# Print schema again. Note the additional columns. As with other models, we simply want to compare the label (actual value) to the predicted value.
trainingSummary.predictions.printSchema()

# Visualise the DataFrame. Visually compare label to prediction. What do you see? 
trainingSummary.predictions.show()

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)

root
 |-- label: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = true)

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(692,[127,128,129...|[19.8534775947478...|[0.99999999761359...|       0.0|
|  1.0|(692,[158,159,160...|[-20.377398194908...|[1.41321555111056...|       1.0|
|  1.0|(692,[124,125,126...|[-27.401459284891...|[1.25804865126979...|       1.0|
|  1.0|(692,[152,153,154...|[-18.862741612668...|[6.42710509170303...|       1.0|
|  1.0|(692,[151,152,153...|[-20.483011833009...|[1.27157209200604...|       1.0|
|  0.0|(692,[129,130,131...|[19.8506078990277...|[0.99999999760673...|       0.0|
|  1.0|(692,[158,159,160...|[-20.337256674833...|[1.47109814695581...|       1.0|
|  1.0|(692,[99,100,101,...|[-19.595579753418...|[3.08850168102631...|       1.0|
|  0.0|(692,[154,155,156...|[19.2708803215613...|[0.99999999572670...|       0.0|
|  0.0|(692,[127,128,129...|[23.6202328360422...|[0.99999999994480...|       0.0|
|  1.0|(692,[154,155,156...|[-24.385235147661...|[2.56818872776510...|       1.0|
|  0.0|(692,[153,154,155...|[26.3082522490179...|[0.99999999999624...|       0.0|
|  0.0|(692,[151,152,153...|[25.8329060318703...|[0.99999999999396...|       0.0|
|  1.0|(692,[129,130,131...|[-19.794609139086...|[2.53110684529575...|       1.0|
|  0.0|(692,[154,155,156...|[21.0260440948067...|[0.99999999926123...|       0.0|
|  1.0|(692,[150,151,152...|[-22.764979942873...|[1.29806018790941...|       1.0|
|  0.0|(692,[124,125,126...|[21.5049307193954...|[0.99999999954235...|       0.0|
|  0.0|(692,[152,153,154...|[31.9927184226421...|[0.99999999999998...|       0.0|
|  1.0|(692,[97,98,99,12...|[-20.521067180414...|[1.22409115616505...|       1.0|
|  1.0|(692,[124,125,126...|[-22.245377742755...|[2.18250475400332...|       1.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

# TrainTest Split

In [35]:
# Let's split the data into a training/testing split so we can evalaute the model.
lr_train,lr_test = training.randomSplit([0.7,0.3])

# Create instance of the logistic regression model.
final_model = LogisticRegression()

# Now fit the model on a subset of data.
fit_final = final_model.fit(lr_train)

# And evaluate it against the test data.
predictions_and_labels = fit_final.evaluate(lr_test)

predictions_and_labels.predictions.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(692,[95,96,97,12...|[20.8078643965022...|[0.99999999908111...|       0.0|
|  0.0|(692,[123,124,125...|[32.7111001480420...|[0.99999999999999...|       0.0|
|  0.0|(692,[124,125,126...|[27.9110383683770...|[0.99999999999924...|       0.0|
|  0.0|(692,[124,125,126...|[23.0134775295046...|[0.99999999989875...|       0.0|
|  0.0|(692,[126,127,128...|[24.5401191203218...|[0.99999999997800...|       0.0|
|  0.0|(692,[126,127,128...|[32.8492077698626...|[0.99999999999999...|       0.0|
|  0.0|(692,[126,127,128...|[16.8500827018315...|[0.99999995190476...|       0.0|
|  0.0|(692,[126,127,128...|[21.9794449196109...|[0.99999999971526...|       0.0|
|  0.0|(692,[127,128,129...|[20.2502609826300...|[0.99999999839519...|       0.0|
|  0.0|(692,[152,153,154...|[17.0174607183898...|[0.99999995931721...|       0.0|
|  0.0|(692,[152,153,154...|[26.0887829388738...|[0.99999999999532...|       0.0|
|  0.0|(692,[153,154,155...|[-13.303966709494...|[1.66786135604950...|       1.0|
|  0.0|(692,[154,155,156...|[16.1439008710006...|[0.99999990254752...|       0.0|
|  0.0|(692,[154,155,156...|[8.52315661942210...|[0.99980122865431...|       0.0|
|  0.0|(692,[154,155,156...|[-19.275896572379...|[4.25191410976761...|       1.0|
|  1.0|(692,[123,124,125...|[-16.206288183980...|[9.15584495656493...|       1.0|
|  1.0|(692,[123,124,125...|[-19.130869786428...|[4.91551262192662...|       1.0|
|  1.0|(692,[124,125,126...|[-21.455959726575...|[4.80612527276353...|       1.0|
|  1.0|(692,[125,126,153...|[-21.562630528210...|[4.31984879850662...|       1.0|
|  1.0|(692,[125,126,153...|[-21.988767983331...|[2.82097606196274...|       1.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

# Logistic Regression Evaluation Metrics

In [36]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [37]:
# Create an instance of the evaluator (finds area under the curve).
evaluator = BinaryClassificationEvaluator()

# Evaluate the predictions. 
my_final_roc = evaluator.evaluate(predictions_and_labels.predictions)

# Display the results. 
my_final_roc

# According to this evaluation metric, the area under the curve is 1.0. A perfect fit? Is that realistic?

0.9874999999999999

# Logistic Regression Adv

In [40]:
# Section must be included at the beginning of each new notebook. Remember to change the app name.
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import *
spark = SparkSession.builder.appName('logistic_regression_adv').getOrCreate()

# If you're getting an error with numpy, please type 'sudo pip3 install numpy --user' into the console.
# If you're getting an error with another package, type 'sudo pip3 install PACKAGENAME --user'. 
# Replace PACKAGENAME with the relevant package (such as pandas, etc).
from pyspark.ml.classification import LogisticRegression

# Import data and print schema - columns is another way to view the data's features.
df = spark.read.csv('BostonCrime2.0.csv', header=True, inferSchema=True)
df.printSchema()
print(df.columns)

root
 |-- INCIDENT_NUMBER: integer (nullable = true)
 |-- OFFENSE_CODE: integer (nullable = true)
 |-- OFFENSE_CODE_GROUP: string (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- REPORTING_AREA: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- HOUR: integer (nullable = true)
 |-- UCR_PART: string (nullable = true)
 |-- STREET: string (nullable = true)
 |-- SHOOTING: string (nullable = true)

['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP', 'DISTRICT', 'REPORTING_AREA', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET', 'SHOOTING']

Utilising Pandas

In [50]:
# Import pandas.
import pandas as pd

# Take the first five rows of data, and visualise.
pd.DataFrame(df.take(5), columns=df.columns)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,DISTRICT,REPORTING_AREA,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,SHOOTING
0,1,1102,Fraud,D4,619,2015,12,Sunday,14,Part Two,WESTLAND AVE,N
1,2,619,Larceny,D4,619,2015,12,Sunday,14,Part One,WESTLAND AVE,N
2,3,1107,Fraud,E18,486,2015,7,Wednesday,12,Part Two,OAKCREST RD,N
3,4,1107,Fraud,C6,226,2015,11,Thursday,8,Part Two,E FOURTH ST,N
4,5,2647,Other,D4,129,2015,10,Saturday,13,Part Two,BERKELEY ST,N

In [42]:
# To visualise the first five columns, simply add transpose. 
pd.DataFrame(df.take(5), columns=df.columns).transpose()

,0,1,2,3,4
INCIDENT_NUMBER,1,2,3,4,5
OFFENSE_CODE,1102,619,1107,1107,2647
OFFENSE_CODE_GROUP,Fraud,Larceny,Fraud,Fraud,Other
DISTRICT,D4,D4,E18,C6,D4
REPORTING_AREA,619,619,486,226,129
YEAR,2015,2015,2015,2015,2015
MONTH,12,12,7,11,10
DAY_OF_WEEK,Sunday,Sunday,Wednesday,Thursday,Saturday
HOUR,14,14,12,8,13
UCR_PART,Part Two,Part One,Part Two,Part Two,Part Two
STREET,WESTLAND AVE,WESTLAND AVE,OAKCREST RD,E FOURTH ST,BERKELEY ST
SHOOTING,N,N,N,N,N

In [43]:
# We can use group by and count to find out how many data points we have for each class in our predictor. 
df.groupby('SHOOTING').count().toPandas()

  SHOOTING  count
0        Y      3
1        N    797

In [51]:
# Using a for loop to find all columns that belong to the integer data type. 
# no pritical meaning for this step, my dataset belongs to categorical....
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int']

# Selecting the numeric features, generating summary statistics, and converting to a Pandas DataFrame.
df.select(numeric_features).describe().toPandas().transpose()

                     0           1                   2     3     4
summary          count        mean              stddev   min   max
INCIDENT_NUMBER    800       400.5  231.08440016582685     1   800
OFFENSE_CODE       800  1949.24875  1095.3304308812276   301  3831
YEAR               800  2016.50375  1.1209623692572204  2015  2018
MONTH              800      8.2025   2.677770867909777     1    12
HOUR               800       15.49   6.011661591762074     1    24

Data preparation select

In [55]:
# Now that we've carried out some basic data exploration, let's select the relevant features. Day/month have been excluded as they're irrelevant.
# It’s obvious that there aren’t highly correlated numeric variables. Therefore, we will keep all of them for the model. However, OFFENSE_CODE_GROUP and UCR_PART columns are not really useful, we will remove these two columns.
df = df.select('INCIDENT_NUMBER','OFFENSE_CODE','DISTRICT','REPORTING_AREA','YEAR','MONTH','DAY_OF_WEEK','HOUR','STREET','SHOOTING')
df.printSchema()

root
 |-- INCIDENT_NUMBER: integer (nullable = true)
 |-- OFFENSE_CODE: integer (nullable = true)
 |-- DISTRICT: string (nullable = true)
 |-- REPORTING_AREA: string (nullable = true)
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- HOUR: integer (nullable = true)
 |-- STREET: string (nullable = true)
 |-- SHOOTING: string (nullable = true)

# Working with Categorical Columns

In [61]:
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler
categoricalColumns = ['OFFENSE_CODE_GROUP', 'DISTRICT', 'REPORTING_AREA', 'DAY_OF_WEEK', 'UCR_PART', 'STREET']
stages = []
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]
label_stringIdx = StringIndexer(inputCol = 'SHOOTING', outputCol = 'label')
stages += [label_stringIdx]
numericCols = ['INCIDENT_NUMBER', 'OFFENSE_CODE', 'YEAR', 'MONTH', 'HOUR']
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

ImportError: cannot import name 'OneHotEncoderEstimator'

Exception ignored in: <object repr() failed>
Traceback (most recent call last):
  File "/home/ubuntu/spark-2.1.1-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 76, in __del__
    SparkContext._active_spark_context._gateway.detach(self._java_obj)
AttributeError: 'OneHotEncoder' object has no attribute '_java_obj'

In [62]:
# Import the relevant packages.
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer)

# First create a string indexer which converts every string into a number, such as male = 0 and female = 1.
# A number will be assigned to every category in the column.
OFFENSE_CODE_GROUP_indexer = StringIndexer(inputCol='OFFENSE_CODE_GROUP',outputCol='OFFENSE_CODE_GROUPIndex')
DISTRICT_indexer = StringIndexer(inputCol='DISTRICT',outputCol='DISTRICTIndex')
REPORTING_AREA_indexer = StringIndexer(inputCol='REPORTING_AREA',outputCol='REPORTING_AREAIndex')
DAY_OF_WEEK_indexer = StringIndexer(inputCol='DAY_OF_WEEK',outputCol='DAY_OF_WEEKIndex')
UCR_PART_indexer = StringIndexer(inputCol='UCR_PART',outputCol='UCR_PARTIndex')
STREET_indexer = StringIndexer(inputCol='STREET',outputCol='STREETIndex')
SHOOTING_indexer = StringIndexer(inputCol='SHOOTING',outputCol='label')

# Now we can one hot encode these numbers. This converts the various outputs into a single vector.
# Multiple columns are collapsed into one. 
# This makes it easier to process when you have multiple classes.
OFFENSE_CODE_GROUP_encoder = OneHotEncoder(inputCol='OFFENSE_CODE_GROUPIndex',outputCol='OFFENSE_CODE_GROUPVec')
DISTRICT_encoder = OneHotEncoder(inputCol='DISTRICTIndex',outputCol='DISTRICTVec')
REPORTING_AREA_encoder = OneHotEncoder(inputCol='REPORTING_AREAIndex',outputCol='REPORTING_AREAVec')
DAY_OF_WEEK_encoder = OneHotEncoder(inputCol='DAY_OF_WEEKIndex',outputCol='DAY_OF_WEEKVec')
UCR_PART_encoder = OneHotEncoder(inputCol='UCR_PARTIndex',outputCol='UCR_PARTVec')
STREET_encoder = OneHotEncoder(inputCol='STREETIndex',outputCol='STREETVec')

# And finally, using vector assembler to turn all of these columns into one column (named features).
assembler = VectorAssembler(inputCols=['OFFENSE_CODE_GROUPVec','DISTRICTVec',
                                       'REPORTING_AREAVec','DAY_OF_WEEKVec',
                                       'UCR_PARTVec', 'STREETVec','INCIDENT_NUMBER',
                                       'OFFENSE_CODE','YEAR','MONTH','HOUR'], outputCol="features")

TypeError: __init__() got an unexpected keyword argument 'inputCol'

# Pipelines

In [14]:
from pyspark.ml import Pipeline

# Then go through our steps. It's essentially sequential to the above.
pipeline = Pipeline(stages=[OFFENSE_CODE_GROUP_indexer, DISTRICT_indexer, REPORTING_AREA_indexer, DAY_OF_WEEK_indexer,
                            UCR_PART_indexer, STREET_indexer, SHOOTING_indexer, OFFENSE_CODE_GROUP_encoder, 
                            DISTRICT_encoder, REPORTING_AREA_encoder, DAY_OF_WEEK_encoder, UCR_PART_encoder, 
                            STREET_encoder, assembler])

pipeline_model = pipeline.fit(df)


pipe_df = pipeline_model.transform(df)


pipe_df = pipe_df.select('label', 'features')

Py4JJavaError: An error occurred while calling o236.transform.
: java.lang.NullPointerException
	at org.apache.spark.sql.types.Metadata$.org$apache$spark$sql$types$Metadata$$hash(Metadata.scala:219)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$2.apply(Metadata.scala:207)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$2.apply(Metadata.scala:207)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
	at scala.collection.AbstractTraversable.map(Traversable.scala:104)
	at org.apache.spark.sql.types.Metadata$.org$apache$spark$sql$types$Metadata$$hash(Metadata.scala:207)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$1.apply(Metadata.scala:204)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$1.apply(Metadata.scala:204)
	at scala.collection.MapLike$MappedValues$$anonfun$foreach$3.apply(MapLike.scala:245)
	at scala.collection.MapLike$MappedValues$$anonfun$foreach$3.apply(MapLike.scala:245)
	at scala.collection.TraversableLike$WithFilter$$anonfun$foreach$1.apply(TraversableLike.scala:733)
	at scala.collection.immutable.Map$Map3.foreach(Map.scala:161)
	at scala.collection.TraversableLike$WithFilter.foreach(TraversableLike.scala:732)
	at scala.collection.MapLike$MappedValues.foreach(MapLike.scala:245)
	at scala.util.hashing.MurmurHash3.unorderedHash(MurmurHash3.scala:91)
	at scala.util.hashing.MurmurHash3$.mapHash(MurmurHash3.scala:222)
	at scala.collection.GenMapLike$class.hashCode(GenMapLike.scala:35)
	at scala.collection.AbstractMap.hashCode(Map.scala:59)
	at scala.runtime.ScalaRunTime$.hash(ScalaRunTime.scala:206)
	at org.apache.spark.sql.types.Metadata$.org$apache$spark$sql$types$Metadata$$hash(Metadata.scala:204)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$1.apply(Metadata.scala:204)
	at org.apache.spark.sql.types.Metadata$$anonfun$org$apache$spark$sql$types$Metadata$$hash$1.apply(Metadata.scala:204)
	at scala.collection.MapLike$MappedValues$$anonfun$foreach$3.apply(MapLike.scala:245)
	at scala.collection.MapLike$MappedValues$$anonfun$foreach$3.apply(MapLike.scala:245)
	at scala.collection.TraversableLike$WithFilter$$anonfun$foreach$1.apply(TraversableLike.scala:733)
	at scala.collection.immutable.Map$Map1.foreach(Map.scala:116)
	at scala.collection.TraversableLike$WithFilter.foreach(TraversableLike.scala:732)
	at scala.collection.MapLike$MappedValues.foreach(MapLike.scala:245)
	at scala.util.hashing.MurmurHash3.unorderedHash(MurmurHash3.scala:91)
	at scala.util.hashing.MurmurHash3$.mapHash(MurmurHash3.scala:222)
	at scala.collection.GenMapLike$class.hashCode(GenMapLike.scala:35)
	at scala.collection.AbstractMap.hashCode(Map.scala:59)
	at scala.runtime.ScalaRunTime$.hash(ScalaRunTime.scala:206)
	at org.apache.spark.sql.types.Metadata$.org$apache$spark$sql$types$Metadata$$hash(Metadata.scala:204)
	at org.apache.spark.sql.types.Metadata._hashCode$lzycompute(Metadata.scala:107)
	at org.apache.spark.sql.types.Metadata._hashCode(Metadata.scala:107)
	at org.apache.spark.sql.types.Metadata.hashCode(Metadata.scala:108)
	at org.apache.spark.sql.catalyst.expressions.AttributeReference.hashCode(namedExpressions.scala:249)
	at scala.runtime.ScalaRunTime$.hash(ScalaRunTime.scala:206)
	at scala.collection.immutable.HashSet.elemHashCode(HashSet.scala:177)
	at scala.collection.immutable.HashSet.computeHash(HashSet.scala:186)
	at scala.collection.immutable.HashSet.$plus(HashSet.scala:84)
	at scala.collection.immutable.HashSet.$plus(HashSet.scala:35)
	at scala.collection.mutable.SetBuilder.$plus$eq(SetBuilder.scala:22)
	at scala.collection.mutable.SetBuilder.$plus$eq(SetBuilder.scala:20)
	at scala.collection.generic.Growable$class.loop$1(Growable.scala:53)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:57)
	at scala.collection.mutable.SetBuilder.$plus$plus$eq(SetBuilder.scala:20)
	at scala.collection.TraversableLike$class.to(TraversableLike.scala:590)
	at scala.collection.AbstractTraversable.to(Traversable.scala:104)
	at scala.collection.TraversableOnce$class.toSet(TraversableOnce.scala:304)
	at scala.collection.AbstractTraversable.toSet(Traversable.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.containsChild$lzycompute(TreeNode.scala:89)
	at org.apache.spark.sql.catalyst.trees.TreeNode.containsChild(TreeNode.scala:89)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4$$anonfun$apply$11.apply(TreeNode.scala:335)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.TraversableLike$$anonfun$map$1.apply(TraversableLike.scala:234)
	at scala.collection.immutable.List.foreach(List.scala:381)
	at scala.collection.TraversableLike$class.map(TraversableLike.scala:234)
	at scala.collection.immutable.List.map(List.scala:285)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:334)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:188)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapChildren(TreeNode.scala:305)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:275)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$transformExpressionsDown$1.apply(QueryPlan.scala:245)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$transformExpressionsDown$1.apply(QueryPlan.scala:245)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpression$1(QueryPlan.scala:266)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.org$apache$spark$sql$catalyst$plans$QueryPlan$$recursiveTransform$1(QueryPlan.scala:276)
	at org.apache.spark.sql.catalyst.plans.QueryPlan$$anonfun$6.apply(QueryPlan.scala:285)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:188)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.mapExpressions(QueryPlan.scala:285)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressionsDown(QueryPlan.scala:245)
	at org.apache.spark.sql.catalyst.plans.QueryPlan.transformExpressions(QueryPlan.scala:236)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveDeserializer$$anonfun$apply$32.applyOrElse(Analyzer.scala:2031)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveDeserializer$$anonfun$apply$32.applyOrElse(Analyzer.scala:2027)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$resolveOperators$1.apply(LogicalPlan.scala:61)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan$$anonfun$resolveOperators$1.apply(LogicalPlan.scala:61)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:70)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperators(LogicalPlan.scala:60)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveDeserializer$.apply(Analyzer.scala:2027)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveDeserializer$.apply(Analyzer.scala:2026)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:85)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:82)
	at scala.collection.LinearSeqOptimized$class.foldLeft(LinearSeqOptimized.scala:124)
	at scala.collection.immutable.List.foldLeft(List.scala:84)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:82)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:74)
	at scala.collection.immutable.List.foreach(List.scala:381)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:74)
	at org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.resolveAndBind(ExpressionEncoder.scala:258)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:209)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:64)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$withPlan(Dataset.scala:2845)
	at org.apache.spark.sql.Dataset.select(Dataset.scala:1131)
	at org.apache.spark.ml.feature.StringIndexerModel.transform(StringIndexer.scala:185)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)

# Logistic Regression Model

In [16]:
from pyspark.ml.classification import LogisticRegression

# Split our data. Note that the new DataFrame is being used.
train_data, test_data = pipe_df.randomSplit([0.7,0.3])
print("Training Dataset Count: " + str(train_data.count()))
print("Test Dataset Count: " + str(test_data.count()))

# Instantiate the model.
lr_model = LogisticRegression(featuresCol='features',labelCol='label')

# Fit the model.
lr_model = lr_model.fit(train_data)

# And evaluate the model using the test data.
results = lr_model.transform(test_data)

NameError: name 'pipe_df' is not defined

# Model Evaluation

In [15]:
import matplotlib.pyplot as plt
import numpy as np

# Visualising the coefficients. Sort from lowest to highest.
beta = np.sort(lr_model.coefficients)

# Plot the data.
plt.plot(beta)

# Add a label to the data.
plt.ylabel('Beta Coefficients')

# Show the graph. 
plt.show()

NameError: name 'lr_model' is not defined

ROCAUC

In [63]:
# Let's get a summary of the data.
training_summary = lr_model.summary

# Convert the DataFrame to a Pandas DataFrame.
ROC = training_summary.roc.toPandas()

# Plot the true positive and false positive rates.
plt.plot(ROC['FPR'],ROC['TPR'])

# Define the labels.
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.title('ROC Curve')
plt.show()

# Print the AUC statistic. 
print('Area Under the Curve: ' + str(training_summary.areaUnderROC))

NameError: name 'lr_model' is not defined

PrecisionRecall

In [64]:
# Convert DataFrame to Pandas DataFrame.
pr = training_summary.pr.toPandas()

# Plot model recall and precision.
plt.plot(pr['recall'],pr['precision'])

# Define the labels and show the graph. 
plt.ylabel('Precision')
plt.xlabel('Recall')
plt.show()

NameError: name 'training_summary' is not defined